<!DOCTYPE html>
<!-- xmlns:th => th 키워드가 정의되어 있는 곳의 주소 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input type="text" name="num1" id="" />
      <label for="">+</label>
      <input type="text" name="num2" id="" />
      <button type="submit">계산</button>
    </form>

    <ul>
      <!-- ? : null일 수도 있음 -->
      <!-- 처음에 들어갈 땐 입력값이 없으니 null값 -->
      <!-- AddDto클래스 ==> addDto(앞자리만 소문자로 바꾸기) -->
      <li>Num1 : <span th:text="${addDto?.num1}"></span></li>
      <li>Num2 : <span th:text="${addDto?.num2}"></span></li>
      <li>Result : <span th:text="${addDto?.num2}"></span></li>
    </ul>
  </body>
</html>
