<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>BASIC</h1>
    <h4>bno : <span th:text="${param.bno}"></span></h4>
    <h4>bno : <span th:text="${bno}"></span></h4>
    <div th:text="${name}"></div>

    <div th:utext="${'<h3>' + dto.first + '</h3>'}"></div>

    <!-- <div>
      <h3 th:text="${dto.first}"></h3>
    </div> -->

    <div th:text="${'<h3>' + dto.first + '</h3>'}"></div>
    <ul>
      <li>ID : <span th:text="${dto.id}"></span></li>
      <li>FIRST : <span th:text="${dto.first}"></span></li>
      <li>LAST : <span th:text="${dto.last}"></span></li>
      <li>REGTIME : <span th:text="${dto.regTime}"></span></li>
    </ul>

    <h4>SampleDto List</h4>
    <ul>
      <li th:each="dto : ${list}">[[${dto}]]</li>
    </ul>

    <h4>SampleDto List2</h4>
    <ul>
      <li th:each="dto : ${list}" th:text="${dto}"></li>
    </ul>

    <h4>SampleDto List3</h4>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>FIRST</th>
          <th>LAST</th>
          <th>REGTIME</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}">
          <td th:text="${dto.id}"></td>
          <td>
            <a th:href="@{ex1(id=${dto.id})}" th:text="${dto.first}"></a>
          </td>
          <td th:text="${dto.last}"></td>
          <!-- https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#dates -->
          <td th:text="${#temporals.format(dto.regTime, 'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>
      </tbody>
    </table>

    <h4>SampleDto List4</h4>
    <table>
      <thead>
        <tr>
          <th>index</th>
          <th>count</th>
          <th>size</th>
          <th>odd/even</th>
          <th>ID</th>
          <th>FIRST</th>
          <th>LAST</th>
          <th>REGTIME</th>
        </tr>
      </thead>
      <tbody>
        <!-- 
          index : 번호(0부터 시작)
          count : 번호(1부터 시작)
          size : 전체개수
          odd/even : 홀/짝 여부 확인
         -->
        <tr th:each="dto,state : ${list}">
          <td th:text="${state.index}"></td>
          <td th:text="${state.count}"></td>
          <td th:text="${state.size}"></td>
          <td th:text="${state.odd} + '/' + ${state.even}"></td>
          <td th:text="${dto.id}"></td>
          <td th:text="${dto.first}"></td>
          <td th:text="${dto.last}"></td>
          <td th:text="${#temporals.format(dto.regTime, 'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>
      </tbody>
    </table>

    <h4>SampleDto List5</h4>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>FIRST</th>
          <th>LAST</th>
          <th>REGTIME</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}" th:if="${dto.id % 5 == 0}">
          <td th:text="${dto.id}"></td>
          <td th:text="${dto.first}"></td>
          <td th:text="${dto.last}"></td>
          <!-- https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#dates -->
          <td th:text="${#temporals.format(dto.regTime, 'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>
      </tbody>
    </table>

    <h4>Sample List6</h4>
    <ul>
      <li th:each="dto : ${list}">
        <span th:if="${dto.id % 5 == 0}" th:text="${'------------' + dto.id}"></span>
        <!-- else -->
        <span th:unless="${dto.id % 5 == 0}" th:text="${dto.first}"></span>
      </li>
    </ul>

    <h4>Sample List7</h4>
    <ul>
      <li th:each="dto : ${list}" th:text="${dto.id % 5 == 0}?${'------------' + dto.id}:${dto.first}"></li>
    </ul>

    <h4>Sample List8</h4>
    <ul>
      <li th:each="dto,state : ${list}" th:switch="${state.even}">
        <span th:case="true" th:text="${dto.first}"></span>
        <span th:case="false" th:text="${dto.last}"></span>
      </li>
    </ul>
  </body>
</html>
