<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 서버 : 파일 + 텍스트 -->
    <!-- 
        파일 처리 설정 필요 
        1) 라이브러리
        2) 서블릿
    -->
    <input type="text" name="" id="" />
    <!-- multiple : 여러개 파일 선택 가능 -->
    <input type="file" name="files" id="" multiple />
    <button class="uploadBtn">업로드</button>
    <script>
      document.querySelector(".uploadBtn").addEventListener("click", (e) => {
        // files에 있는 파일 목록을 가져와서 폼 형태로 만들기
        const inputFile = document.querySelector("[name='files']");
        console.log(inputFile);

        const files = inputFile.files; // files 속성
        console.log("files");
        console.log(files);

        // 스크립트에서 form태그 작성
        const formData = new FormData();

        for (let index = 0; index < files.length; index++) {
          formData.append("uploadFiles", files[index]);
        }

        // for (const key of formData.keys()) {
        //   console.log(key);
        // }

        // for (const value of formData.values()) {
        //   console.log(value);
        // }

        fetch("/upload/uploadAjax", { method: "post", body: formData })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
          });
      });
    </script>
  </body>
</html>
